*{
    padding: 0%;
    margin: 0%;
}
.sky{
    height: 100vh;
    width: 100vw;
    background-image: url(./background.jpg);
    position: absolute;
    background: cover;
}
.tree{
    height: 100vh;
    width: 100vw;
    background-image: url(./trees.png);
    position: absolute;
    background: cover;
}
.track{
    height: 65vh;
    width: 1000vw;
    background-image: url(./track.png);
    position: absolute;
    background: cover;
    top: 80%;
}
.car{
    height: 25vh;
    width: 20vw;
    background-image: url(./car-removebg-preview.png);
    position: absolute;
    background-size: cover;
    background: repeat;
    top: 65%;
}
.tyre1{
    height: 10vh;
    width: 50vw;
    background-image: url(./wheel.png);
    position: relative;
    top: 3px;
    margin-left: 40px;
    background: cover;
}